<?xml version="1.0"?>
<config>
  <modules>
    <Magestore_RetailerKitTools>
      <version>0.1.0</version>
    </Magestore_RetailerKitTools>
  </modules>
  <frontend>
      <routers>
          <retailerkittools>
              <use>standard</use>
              <args>
                  <module>Magestore_RetailerKitTools</module>
                  <frontName>retailerkittools</frontName>
              </args>
          </retailerkittools>
      </routers>
      <layout>
          <updates>
              <retailerkittools>
                  <file>retailerkittools.xml</file>
              </retailerkittools>
          </updates>
      </layout>
      <events>
      </events>
      <translate>
          <modules>
              <Magestore_RetailerKitTools>
                  <files>
                      <default>Magestore_RetailerKitTools.csv</default>
                  </files>
              </Magestore_RetailerKitTools>
          </modules>
      </translate>
  </frontend>
  <admin> 
      <routers> 
          <adminhtml>
              <args>
                  <modules>
                      <Magestore_RetailerKitTools before="Mage_Adminhtml">Magestore_RetailerKitTools_Adminhtml</Magestore_RetailerKitTools>
                  </modules>
              </args>
          </adminhtml>
      </routers>
  </admin>

  <adminhtml>
      <layout>
          <updates>
              <retailerkittools>
                  <file>retailerkittools.xml</file>
              </retailerkittools>
          </updates>
      </layout>
      <translate>
          <modules>
              <Magestore_RetailerKitTools>
                  <files>
                      <default>Magestore_RetailerKitTools.csv</default>
                  </files>
              </Magestore_RetailerKitTools>
          </modules>
      </translate>
      <events>
      </events>        
  </adminhtml>  
  <global>
    <models>
        <retailerkittools>
            <class>Magestore_RetailerKitTools_Model</class>
            <resourceModel>retailerkittools_mysql4</resourceModel>
        </retailerkittools>
        <retailerkittools_mysql4>
            <class>Magestore_RetailerKitTools_Model_Mysql4</class>
            <entities>                   
                <vendor>
                    <table>retailerkittools_vendor</table>
                </vendor>
                 <invoice>
                    <table>retailerkittools_invoice</table>
                </invoice>
                <order>
                    <table>retailerkittools_order</table>
                </order>
                <label>
                    <table>retailerkittools_label</table>
                </label>
            </entities>
        </retailerkittools_mysql4>
        </models>
        <resources>
            <retailerkittools_setup>
                <setup>
                    <module>Magestore_RetailerKitTools</module>
                </setup>
                <connection>
                    <use>core_setup</use>
                </connection>
            </retailerkittools_setup>
        </resources>
        <blocks>
            <retailerkittools>
                <class>Magestore_RetailerKitTools_Block</class>
            </retailerkittools>
        </blocks>
    <helpers>
      <retailerkittools>
        <class>Magestore_RetailerKitTools_Helper</class>
      </retailerkittools>
    </helpers>
    <template>
            <email>
                <retailerkittools_email_invoice translate="label" module="retailerkittools">
                    <label>Email Template send invoice</label>
                    <file>retailerkittools/invoice.html</file>
                    <type>html</type>
                </retailerkittools_email_invoice>
                <retailerkittools_email_order translate="label" module="retailerkittools">
                    <label>Email Template send order</label>
                    <file>retailerkittools/order.html</file>
                    <type>html</type>
                </retailerkittools_email_order>
                <retailerkittools_email_label translate="label" module="retailerkittools">
                    <label>Email Template send shipping label</label>
                    <file>retailerkittools/printlabel.html</file>
                    <type>html</type>
                </retailerkittools_email_label>
                <retailerkittools_email_barcode translate="label" module="retailerkittools">
                    <label>Email Template send barcode</label>
                    <file>retailerkittools/barcode.html</file>
                    <type>html</type>
                </retailerkittools_email_barcode>
            </email>
        </template>
  </global>
  <default>
        <retailerkittools>
            <email>
                <invoice>retailerkittools_email_invoice</invoice>
                <order>retailerkittools_email_order</order>
                <label>retailerkittools_email_label</label>
                <label>retailerkittools_email_barcode</label>
            </email>
        </retailerkittools>
    </default>
</config> 